.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.centered {
  align-items: center;
  justify-content: center;
}
.rowAligned {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.orangeTextMixin {
  color: #faa810;
}
.lato {
  font-family: "Lato", sans-serif;
}
.hindSiliguri {
  font-family: "Hind Siliguri", sans-serif;
}
.fWidth {
  width: 100%;
}
.fHeight {
  height: 100%;
}
.noMargin {
  margin: 0;
}
.noPadding {
  padding: 0;
}
.noMarginPadding {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarSub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  width: 1000px;
  max-width: 1000px;
}
.leftNav {
  display: inline;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.brandName {
  font-family: "Pattaya", sans-serif;
  font-size: 1.6rem;
}
.rightNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.linksList {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.linkItem {
  margin: 1rem;
}
.link {
  text-decoration: none;
}
.textLink {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: black;
}
.content {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentSub {
  margin-top: -2rem;
  max-width: 1000px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentLeft {
  flex: 3;
}
.header {
  font-family: "Lato", sans-serif;
  font-size: 5rem;
}
.subText {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.1rem;
}
.exploreBtn {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #faa810;
  color: white;
  font-family: "Lato", sans-serif;
  border: 1px solid white;
  font-size: 1.6rem;
  border-radius: 2rem;
}
.contentRight {
  flex: 1;
  height: 100%;
  width: 100%;
}
.btn {
  padding: 1rem 2rem;
  background-color: #faa810;
  color: white;
  font-family: "Lato", sans-serif;
  border: 1px solid white;
  font-size: 1.6rem;
  border-radius: 2rem;
}
.aboutCon {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutSub {
  max-width: 1000px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.aboutSubLeft {
  flex: 2;
  height: 100%;
}
.aboutSubRight {
  padding: 1rem;
  flex: 3;
  height: 100%;
}
.aboutSubRight div h2 {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
}
.aboutSubRight div h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.6rem;
}
.aboutSubRight div a {
  padding: 1rem 2rem;
  background-color: #faa810;
  color: white;
  font-family: "Lato", sans-serif;
  border: 1px solid white;
  font-size: 1.6rem;
  border-radius: 2rem;
  text-decoration: none;
}
.orangeText {
  color: #faa810;
}
#services {
  margin-bottom: 10rem;
  width: 100%;
  height: 100vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servicesSub {
  max-width: 1000px;
  width: 1000px;
  height: 70vh;
  display: flex;
  flex-direction: column;
}
.servicesTop {
  text-align: center;
  line-height: 4px;
  padding: 0;
  margin: 0;
  height: 20%;
}
.servicesTop h2 {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
}
.servicesTop h4 {
  color: #faa810;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.6rem;
}
.servicesBottom {
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.service {
  margin: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.serviceTop {
  height: 50%;
}
.serviceBottom {
  height: 50%;
  text-align: center;
}
.serviceBottom h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
}
.serviceBottom h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}
.testimonials {
  padding-top: 6rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonialsSub {
  max-width: 1000px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.testimonialsLeft {
  padding: 2rem;
  flex: 2;
  height: 100%;
}
.testimonialsLeft div h3,
.testimonialsLeft div h4,
.testimonialsLeft div h5,
.testimonialsLeft div h6 {
  font-family: "Hind Siliguri", sans-serif;
}
.testimonialsLeft div h2 {
  font-size: 3.5rem;
  font-family: "Lato", sans-serif;
}
.testimonialsLeft div h3 {
  font-size: 2rem;
  color: #faa810;
}
.testimonialsLeft div h4 {
  font-size: 1.2rem;
  line-height: 1rem;
  padding: 0;
  margin: 0.6rem 0;
}
.testimonialsLeft div h5 {
  font-size: 1.1rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  color: lightgray;
}
.testimonialsLeft div h6 {
  font-size: 1rem;
  overflow-wrap: break-word;
}
.testimonialsLeft div a {
  margin-top: 2rem;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #faa810;
  color: white;
  font-family: "Lato", sans-serif;
  border: 1px solid white;
  font-size: 1.6rem;
  border-radius: 2rem;
}
.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.testimonialsRight {
  height: 100%;
  flex: 1;
}
.footerCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerSubCon {
  width: 1000px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerColumn ul {
  list-style: none;
}
.footerColumn ul li a {
  text-decoration: none;
}
.footerColumn ul li a h3 {
  color: black;
  font-family: "Lato", sans-serif;
}
.footerColumn ul li a p {
  color: black;
  font-family: "Hind Siliguri", sans-serif;
}
.socialLink {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .navbar {
    display: none;
  }
  .content {
    margin-bottom: 2rem;
  }
  .header {
    font-size: 3rem;
  }
  .contentSub {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contentLeft {
    padding: 0 1rem;
  }
  #animContainer {
    margin: 5rem 0;
    width: 50%;
    height: 50%;
  }
  .aboutCon {
    margin: 8rem 0;
    width: 100%;
  }
  .aboutSub {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .aboutSubRight div h2 {
    font-size: 3rem;
  }
  .aboutSubRight div h4 {
    font-size: 1.5rem;
    line-height: 1.4rem;
  }
  .btn {
    padding: 0.5rem 1rem;
  }
  .services {
    margin: 5rem 0;
    width: 100%;
  }
  .servicesSub {
    width: 100%;
  }
  .servicesTop {
    height: 15rem;
    overflow-wrap: break-word;
  }
  .servicesHeader {
    font-size: 14px;
    color: pink;
    overflow-wrap: break-word;
    display: none;
  }
  .servicesBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10rem 0;
    height: 60rem;
  }
  .testimonials {
    margin-top: 45rem;
    margin-bottom: 10rem;
    width: 100%;
  }
  .testimonialsSub {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footerCon {
    width: 100%;
  }
  .footerSubCon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerColumn {
    text-align: center;
  }
}
