.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.centered {
  align-items: center;
  justify-content: center;
}
.rowAligned {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.orangeTextMixin {
  color: #faa810;
}
.lato {
  font-family: "Lato", sans-serif;
}
.hindSiliguri {
  font-family: "Hind Siliguri", sans-serif;
}
.fWidth {
  width: 100%;
}
.fHeight {
  height: 100%;
}
.noMargin {
  margin: 0;
}
.noPadding {
  padding: 0;
}
.noMarginPadding {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
}
.navbar .leftNav {
  margin: 0 5rem;
  display: inline;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar .leftNav .brandName {
  font-family: "Pattaya", sans-serif;
}
.navbar .rightNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 5rem;
}
.navbar .rightNav .linksList {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.navbar .rightNav .linksList .linkItem {
  margin: 1rem;
}
.navbar .rightNav .linksList .linkItem .link {
  text-decoration: none;
}
.navbar .rightNav .linksList .linkItem .link .textLink {
  font-size: 1.6rem;
  color: black;
  font-weight: 800;
  font-family: "Catamaran", sans-serif;
}
.content {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content .contentSub {
  margin-top: -2rem;
  max-width: 1000px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content .contentSub .contentLeft {
  flex: 3;
}
.content .contentSub .contentLeft .header {
  font-family: "Lato", sans-serif;
  font-size: 5rem;
}
.content .contentSub .contentLeft .subText {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.1rem;
}
.content .contentSub .contentLeft .exploreBtn {
  padding: 1rem 2rem;
  background-color: #faa810;
  color: white;
  font-family: "Lato", sans-serif;
  border: 1px solid white;
  font-size: 1.6rem;
  border-radius: 2rem;
}
.content .contentSub .contentRight {
  flex: 1;
  height: 100%;
  width: 100%;
}
.btn {
  padding: 1rem 2rem;
  background-color: #faa810;
  color: white;
  font-family: "Lato", sans-serif;
  border: 1px solid white;
  font-size: 1.6rem;
  border-radius: 2rem;
}
.aboutCon {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutCon .aboutSub {
  max-width: 1000px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.aboutCon .aboutSub .aboutSubLeft {
  flex: 2;
  height: 100%;
}
.aboutCon .aboutSub .aboutSubRight {
  padding: 1rem;
  flex: 3;
  height: 100%;
}
.aboutCon .aboutSub .aboutSubRight div h2 {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
}
.aboutCon .aboutSub .aboutSubRight div h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.1rem;
}
.aboutCon .aboutSub .aboutSubRight div button {
  padding: 1rem 2rem;
  background-color: #faa810;
  color: white;
  font-family: "Lato", sans-serif;
  border: 1px solid white;
  font-size: 1.6rem;
  border-radius: 2rem;
}
.aboutCon .aboutSub .orangeText {
  color: #faa810;
}
#services {
  margin-bottom: 10rem;
  width: 100%;
  height: 100vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#services .servicesSub {
  max-width: 1000px;
  width: 1000px;
  height: 70vh;
  display: flex;
  flex-direction: column;
}
#services .servicesSub .servicesTop {
  text-align: center;
  line-height: 4px;
  padding: 0;
  margin: 0;
  height: 20%;
}
#services .servicesSub .servicesTop h2 {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
}
#services .servicesSub .servicesTop h4 {
  color: #faa810;
  font-family: "Hind Siliguri", sans-serif;
}
#services .servicesSub .servicesBottom {
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#services .servicesSub .servicesBottom .service {
  margin: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#services .servicesSub .servicesBottom .service .serviceTop {
  height: 50%;
}
#services .servicesSub .servicesBottom .service .serviceBottom {
  height: 50%;
  text-align: center;
}
#services .servicesSub .servicesBottom .service .serviceBottom h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
}
#services .servicesSub .servicesBottom .service .serviceBottom h6 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}
.testimonials {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials .testimonialsSub {
  max-width: 1000px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.testimonials .testimonialsSub .testimonialsLeft {
  padding: 2rem;
  flex: 2;
  height: 100%;
}
.testimonials .testimonialsSub .testimonialsLeft div h3,
.testimonials .testimonialsSub .testimonialsLeft div h4,
.testimonials .testimonialsSub .testimonialsLeft div h5,
.testimonials .testimonialsSub .testimonialsLeft div h6 {
  font-family: "Hind Siliguri", sans-serif;
}
.testimonials .testimonialsSub .testimonialsLeft div h2 {
  font-size: 3.5rem;
  font-family: "Lato", sans-serif;
}
.testimonials .testimonialsSub .testimonialsLeft div h3 {
  font-size: 2rem;
  color: #faa810;
}
.testimonials .testimonialsSub .testimonialsLeft div h4 {
  font-size: 1.2rem;
  line-height: 1rem;
  padding: 0;
  margin: 0.6rem 0;
}
.testimonials .testimonialsSub .testimonialsLeft div h5 {
  font-size: 1.1rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  color: lightgray;
}
.testimonials .testimonialsSub .testimonialsLeft div h6 {
  font-size: 1rem;
  overflow-wrap: break-word;
}
.testimonials .testimonialsSub .testimonialsRight {
  height: 100%;
  flex: 1;
}
.footerCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerCon .footerSubCon {
  width: 1000px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerCon .footerSubCon .footerColumn ul {
  list-style: none;
}
.footerCon .footerSubCon .footerColumn ul li .socialLink {
  text-decoration: underline;
}
.footerCon .footerSubCon .footerColumn ul li a {
  text-decoration: none;
}
.footerCon .footerSubCon .footerColumn ul li a h3 {
  color: black;
  font-family: "Lato", sans-serif;
}
.footerCon .footerSubCon .footerColumn ul li a p {
  color: black;
  font-family: "Hind Siliguri", sans-serif;
}
