@primaryColor: red;
@secondaryColor: blue;
@fontSize: 1.6rem;
@smallFont: 1.1rem;
@padding: 1rem;
@margin: 1rem;
@bgColor: pink;

//Media variables
@min768: ~"(min-width: 768px)";
@min576: ~"(min-width: 576px)";
@min1280: ~"(min-width: 1280px)";

@media @min768 {
  body {
    font-size: @fontSize;
  }
}

//Mixins
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.centered {
  align-items: center;
  justify-content: center;
}

.rowAligned {
  .row();
  .centered();
}

//Styles
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.navbar {
  .row();
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  .leftNav {
    margin: 0 5rem;
    display: inline;
    .rowAligned();
    .brandName {
      font-family: "Pattaya", sans-serif;
    }
  }
  .rightNav {
    .rowAligned();
    margin: 0 5rem;
    .linksList {
      .row();
      list-style: none;
      .linkItem {
        margin: @margin;
        .link {
          text-decoration: none;
          .textLink {
            font-size: @fontSize;
            color: black;
            font-weight: 800;
            font-family: "Catamaran", sans-serif;
          }
        }
      }
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  align-self: center;
  .column();
  align-items: center;
  justify-content: center;
  .contentSub {
    margin-top: -2rem;

    max-width: 1000px;
    width: 1000px;
    .rowAligned();
    .contentLeft {
      flex: 3;
      .header {
        font-family: "Lato", sans-serif;
        font-size: 5rem;
      }
      .subText {
        font-family: "Hind Siliguri", sans-serif;
      }
      .exploreBtn {
        padding: 1rem 2rem;
        background-color: rgb(250, 168, 16);
        color: white;
        font-family: "Lato", sans-serif;
        border: 1px solid white;
        font-size: @fontSize;
        border-radius: 2rem;
      }
    }
    .contentRight {
      flex: 1;
      height: 100%;
      width: 100%;
    }
  }
}

.btn {
  padding: 1rem 2rem;
  background-color: rgb(250, 168, 16);
  color: white;
  font-family: "Lato", sans-serif;
  border: 1px solid white;
  font-size: @fontSize;
  border-radius: 2rem;
}

.aboutCon {
  width: 100%;
  height: 100%;
  align-self: center;
  .column();
  align-items: center;
  justify-content: center;
  .aboutSub {
    max-width: 1000px;
    width: 1000px;
    .rowAligned();
    .aboutSubLeft {
      flex: 2;
      height: 100%;
    }
    .aboutSubRight {
      padding: @padding;

      flex: 3;
      height: 100%;
      div {
        h2 {
          font-family: "Lato", sans-serif;
          font-size: 3.5rem;
        }
        h4 {
          font-family: "Hind Siliguri", sans-serif;
        }
        button {
          .btn();
        }
      }
    }
    .orangeText {
      color: rgb(250, 168, 16);
    }
  }
}
